<div class="container d-flex flex-column mt-3">
  <div class="div1">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
      <div class="container">
        <h1 class="m-3">
          <%= @list.name %>
        </h1>
        <span class="m-3">
          <%= link_to 'Add a bookmark', new_list_bookmark_path(@list), class: 'btn btn-gradient' %>
        </span>
      </div>
    </div>
  </div>
  <div class="div2">
    <div class="cards mt-3">
      <%@list.bookmarks.each do |bookmark|  %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
          <%= bookmark.comment %>
          <%= bookmark.movie.title %>
          <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Delete?" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
